{% extends "bootstrap/base.html" %}
{% block content %}
<html lang="en">
<body>
    <form method="POST" action="/soctopus/thehive/alert/send">
        {{ form.csrf_token }}
        <div class="form-group alert alert-success" role="alert">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
            <label for="tlp">TLP</label>
            <input type="text" class="form-control" id="tlp" name="tlp" value="{{tlp}}">
            <label for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{tags}}">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="5" >{{description}}"</textarea>
            <input type="hidden" id="sourceRef" name="sourceRef" value="{{sourceRef}}">
            <input type="hidden" id="artifact_string" name="artifact_string" value="{{artifact_string}}">
        </div>
        <button class="btn btn-danger" name="submit_button" value="Close" onclick="self.close()">Cancel</button>
        <input type="submit" name="submit_button" class="btn btn-primary" value="Submit">
    </form>
</body>
</html>
{% endblock %}

