{% extends "bootstrap/base.html" %}
{% block content %}
<html lang="en">
  <head>
    <title>Strelka File Scan</title>
  </head>
  <div class="alert alert-success" role="alert">
    <p>Your request for file <code>{{ extracted_file  }}</code> from <code>{{ sensor }}</code> has been submitted to Strelka.</p>
    <p>Try searching for the results of your scan with the following query in Kibana: <code>event.module:strelka</code>.</p>
    <button type="button" class="btn btn-secondary" 
        onclick="window.open('', '_self', ''); window.close();">Close</button>
  </div>
</html>
{% endblock %}
